on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

    install_keyring

    setprop ro.board.platform msm8953
    start load_modules

on property:modules.loaded=1
    start boot-1-0
    start prepdecrypt

on boot
    setprop sys.usb.config adb

service prepdecrypt /sbin/prepdecrypt.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service load_modules /sbin/load_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service boot-1-0 /sbin/android.hardware.boot@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# This helps fix ld.config.txt errors from the linker on Android 8.1+
service ldconfigtxt /sbin/touch /sbin/ld.config.txt
    oneshot
    seclabel u:r:recovery:s0

on boot
	export LD_CONFIG_FILE /sbin/ld.config.txt
